<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sun.dao.PlayDao">

    <insert id="insert" parameterType="com.sun.model.PlaySongRecord">
        insert into playsong(userId,songId) values(#{userId},#{songId})
    </insert>

    <select id="SelectAll" resultType="com.sun.model.PlaySongRecord">
         select * from playsong
    </select>
</mapper>